<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collegedekho.app">

    <!--connecto permissions-->
    <permission android:name="com.collegedekho.app.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To check if this device has access to internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To retrieve the account name (email) as part of sign-in -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user's Google account from an app -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve user  phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To retrieve user  phone number -->
    <uses-permission android:name="com.collegedekho.app.permission.C2D_MESSAGE" />
    <!-- To register application for C2D messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- To receive C2D messages -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- To keep phone awake -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For haptic feedback -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Get wifi radio state -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- To read contacts list -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- read profile -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permission to write to external storage -->



    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".listener.ApplyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http://www.collegedekho.com" />
                <data android:scheme="appsflyer" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PsychometricAnalysisActivity"
            android:label="@string/title_activity_psychometric_analysis"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/videolist_activity"
            android:name=".activity.VideoListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <meta-data android:name="@string/minVersion" android:value="13"/>
            <meta-data android:name="@string/isLaunchableActivity" android:value="true"/>
        </activity>
        <service android:name=".service.ApplyIntentService"
            android:label="@string/application_service"/>

        <service android:name=".service.ApplyService"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e1dd370529095b9153aed4f44952512fc61ad3bf" />
        <receiver
            android:name="io.connecto.android.sdk.ConnectoGCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <!-- Used for Google Play Store Campaign Measurement-->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appsflyer.AppsFlyerLib">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="AppsFlyerDevKey" android:value="v3bLHGLaEavK2ePfvpj6aA"/>
    </application>
</manifest>